.booking {

  &__inner {
    position: relative;
    background-color: $c-black;
    border-radius: 4.8rem;
    padding: 10rem 3rem 6rem;
    margin-bottom: 11rem;
    background-image:
      url(../../images/white_ellipse.svg),
      url(../../images/white_ellipse.svg); 
    background-repeat: no-repeat;
    background-size: 34rem 34rem, 19rem 19rem;
    background-position: 
      top 11rem left -7rem,
      top 7rem right -2rem;
    
    &::before,
    &::after {
      @include pseudo;
      width: 25rem;
      height: 20rem;
      background-image: url(../../images/leaf_1.webp);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::before {
      top: 5rem;
      left: -12rem;
    }

    &::after {
      width: 15rem;
      height: 12rem;
      bottom: 11rem;
      right: -7rem;
      transform: scaleX(-1);
    }
  }


  &__arrow {
    position: absolute;
    top: -3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__title {
    max-width: 54rem;
    color: $c-white;
    -webkit-text-stroke: 2px $c-white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  &__text {
    color: rgba($c-white, 0.5);
    max-width: 57rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  &__form {
    max-width: 71rem;
    margin: 0 auto;
  }
}





.form {

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
  }

  &__group {}

  &__label {}

  &__input {
    width: 100%;
    background-color: rgba($c-white, 0.2);
    border-radius: 1.2rem;
    padding: 1.7rem 5rem 1.7rem 6rem;
    background-image: url(../../images/icons/icon_calendar.svg);
    background-repeat: no-repeat;
    background-position: left 2rem center;
    background-size: 2.4rem;
    color: rgba($c-white, 0.7);

    &--date{
      background-image: 
      url(../../images/icons/icon_chevron_down.svg),
        url(../../images/icons/icon_calendar.svg);
      background-position: right 2rem center, left 2rem center;
    }

    &--person{
      background-image: url(../../images/icons/icon_person.svg);
    }

    &--email{
      background-image: url(../../images/icons/icon_email.svg);
    }

    &--phone{
      background-image: url(../../images/icons/icon_phone.svg);
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}

